.navbar{
   height: 78px;
   top:0;
   position: sticky;
   padding: 20px 40px;
   z-index: 1;
}
.scrolled{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background: #283f4e;
    color: #fff;
    z-index: 999;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    width: 100px;
}
.nav-left h2{
    letter-spacing: 1.2px;
    cursor: pointer;
    text-transform: uppercase;
    color: rgba(192, 58, 28, 0.667);
    font-size: 28px;
}
.nav-center{
    display: flex;
    align-items: center;
    column-gap: 2.2rem;
}
.nav-center a{
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
}
.nav-center span:hover{
   color: rgba(18, 101, 184, 0.831);
}
.nav-right{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.nav-right .nav-btn{
    padding: 7px;
    font-size: 12px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    background-color: rgba(21, 70, 155, 0.854);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 2px;
    transition: .3s ease-in-out;
}
.nav-right .nav-btn:hover{
    transform: scale(1.01);
    background-color: rgba(18, 101, 184, 0.831);
}
.menu i{
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
}
.menu{
    display: none;
}